// For select tags
.select-styles {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.60);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
};

.option-styles {
    background-color: white;
    color: #333;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
}
// For option tags